<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog <%= modalType %>">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><%= modalTittle %></h4>
			</div>
			<div class="modal-body"><%= modalBody %></div>
			<div class="modal-footer">
				<button class="btn <%= btnType %>" type="button"><%= btnText %></button>
			</div>
		</div>
	</div>
</div>