<div class="user-ws-info">
  <div class="" id="ws-info-header">
    <a class="ws-question" href="#"><i class="icon-question"></i></a>
    <img src="<%= path %>" alt="" class="ws-info-pic"/>
    <p id="ws-info-name"><%= name %></p>
    <hr>
     <p id="last-seen"><i class="icon-clock"></i>    Last Updated: <span><%= lastUpdated %></span></p>
    <hr>
  </div>
  <div class="ws-info" id="ws-info-contact">
    <p>Connected Building Blocks: <span><%= connBbs %></span></p>
    <p>Connections Pending: <span><%= connsPending %></span></p>
  </div>
  <hr>
</div>
