<% if(currentUser) { %>
    <div class="ws-element">
        <a href="/blueloop/user/profile"><img src="<%= path %>" alt="" class="ws-pic ws-contact-pic"/></a>
<% } else if (partners){ %>
    <div class="ws-element">
        <a href="/blueloop/user/profileWall/<%= id %>"><img src="<%= path %>" alt="" class="ws-pic ws-contact-pic"/></a>
<% } else { %>
    <div class="ws-element not_partners">
        <div><img src="<%= path %>" alt="" class="ws-pic ws-contact-pic"/></div>
<% } %>
        <div class="ws-contact-name"><%= firstName %> <%= lastName %></div>
    </div>
