<div class="adv-table" >
   <table class="table table-bordered table-striped table-hover" id="skus-neworder-table">
        <thead>
            <tr>
                <th width='20%'>SKU</th>
                <th width='10%'><%= json.order.description %></th>
                <th width='10%'><%= json.sku.quantity %></th>
                <th width='10%'><%= json.sku.unit %></th>
                <th width='15%'><%= json.order.dta %></th>
                <th width='15%'><%= json.order.pta %></th>
                <th width='10%'><%= json.general.action %></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>