<tr>
    <td><div><%= skuNumber %></div></td>
    <td><div><%= skuDescription %></div></td>
    <td><div><%= quantity %></div></td>
    <td><div><%= unit %></div></td>
    <td><div><%= dta %></div></td>
    <td><div><%= pta %></div></td>
    <td>
        <div>
            <button id='editOrderSKU' class='btn btn-primary btn-xs'>
                <i class='fa fa-pencil'></i>
            </button>
            <button id='deleteOrderSKU' class='btn btn-danger btn-xs'>
                <i class='fa fa-trash-o'></i>
            </button>
        </div>
    </td>
</tr>