<li>
    <div class='md-checkbox'>                   
        <input id='md-checkbox<%= id %>_<%= id_user %>' class='md-check season-check' type="checkbox" <%= checked %>>
        <label for="md-checkbox<%= id %>_<%= id_user %>">
            <span></span>
            <span class="check"></span>
            <span class="box"></span>
            <%= name %>
        </label>
    </div>
</li>