<tr>
    <td><div><%= creationDate %></div></td>
    <td><div><%= observation %></div></td>
    <td><div><%= variation %></div></td>
    <td><div><%= probability %></div></td>
    <td><div><%= user %></div></td>
    <td>
        <div class="col-lg-12">
            <button id='editRisk' class='btn btn-primary btn-xs'>
                <i class='fa fa-pencil'></i>
            </button>
            <button id='checkRisk' class='btn btn-primary btn-xs'>
                <i class='fa fa-check'></i>
            </button>
            <button id='deleteRisk' class='btn btn-danger btn-xs'>
                <i class='fa fa-trash-o'></i>
            </button>
        </div>
    </td>
</tr>