<div>
	<br>
	<table class='tree table table-striped table-hover table-bordered' id='tableFCPSkuList'>
		<thead>
			<tr>
				<th class='center'> <%=json.forecast.collaborative.detail%> </th>
				<th class='center'> <%=json.forecast.collaborative.export%> </th>
				<th class='center'> <%=json.forecast.collaborative.budget%> </th>
				<th class='center'> <%=json.forecast.collaborative.adjustments%> </th>
				<th class='center'> <%=json.forecast.collaborative.final%> </th>
				<th class='center'> <%=json.forecast.collaborative.risks%> </th>
			</tr>
		</thead>
		<tbody id="tbodyCollaborative">
			<tr>
				<td id="noDataColl" valign="top" colspan="7"><%=json.forecast.noData%></td>
			</tr>
		</tbody>
	</table>
</div>