<tr>
    <td><div><%= user.firstName %> <%= user.lastName %></div></td>
    <td><div><%= user.department %></div></td>
    <td><div><%= user.email %></div></td>
    <td><div><%= creationDate %></div></td>
    <td>
        <div>
            <button id='deleteUser' class='btn btn-danger btn-xs' title="" data-placement="top" data-toggle="tooltip" 
                data-original-title="<%= json.button.delete%>">
                <i class='fa fa-trash-o'></i>
            </button>
        </div>
    </td>
</tr>
