<div class="adv-table att-table" >
   <table class="table table-bordered table-striped table-hover" id="activ_attach_table">
        <thead>
            <tr>
                <th width='25%'><%= json.file.name %></th>
                <th width='25%'><%= json.file.description %></th>
                <th width='15%'><%= json.file.uploader %></th>
                <th width='15%'><%= json.file.dateTime %></th>
                <th width='20%'><%= json.general.action %></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>