<div>
    <div class="adv-table" >
        <table class="table table-bordered table-striped table-hover" id="order_valve_table">
            <thead>
                <tr>
                    <th width='15%'><%= json.order.number %></th>
                    <th width='15%'><%= json.order.sku %></th>
                    <th width='15%'><%= json.order.attachments %></th>
                    <th width='15%'><%= json.order.dta %></th>
                    <th width='15%'><%= json.order.pta %></th>
                    <th width='10%'><%= json.order.status %></th>
                    <th width='15%'><%= json.general.action %></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
     </div>
</div>