<div class="user-ws-info">
  <div class="" id="ws-info-header">
    <a class="ws-question" href="#"><i class="icon-question"></i></a>
    <img src="<%= path %>" alt="" class="ws-info-pic"/>
    <p id="ws-info-name"><%= name %></p>
    <hr>
    <p id="last-seen"><i class="icon-clock"></i>    Last Updated: <span><%= lastUpdated %></span></p>
    <hr>
  </div>
  <div class="" id="ws-info-contact">
    <p>Created by: <span><%= creator %></span></p>
    <p>Responsible: <span><%= responsible %></span></p>
    <p>Phone Number: <span><%= areaCode %> <%= phone %></span></p>
    <p>Email: <span><%= email %></span></p>
    <p>Company: <span><%= company %></span></p>
    <hr>
    <p>Participating in Loops: <span><%= loops %></span></p>
  </div>

  <div class="" id="">

  </div>
  <hr>
</div>
