<div id="item-info">
    <img class="panel-element-pic" src="/blueloop-backend/static/images/home/loop.png" alt="<%= model.name %>"/>
    <h4><%= model.name %></h4>
	<hr>
	<div class="loop-description">
     	  <p><%= json.loop.owner %>: <span><%= model.creatorName %></span></p>
          <p><%= json.loop.created %>: <span><%= model.creationDate %></span></p>
          <p><%= json.loop.lastUpdated %>: <span><%= model.lastUpdated %></span></p>
       	  <p><%= json.loop.containsBB %>: <span><%= model.containsBBs %></span></p>
    </div>
    <% if(model.archived === false){ %>
 	  <a  href="/blueloop-backend/chain/execution/<%= model.id %>" id="loop-btn" class="btn btn-default btn-lg"><%= json.button.gotoExecution %></a>
 	<% } %> 
 	
 	<% if(creationPermission == true){ %>
 	  <a href="/blueloop-backend/chain/create" id="add_btn" class="circular-red-btn"><i class="" id="cross">+</i></a>
 	<% } %> 
    
</div>
