<div class="row">
	 	<div class="col-lg-6 col-md-6 col-sm-6">
		 	<form class="grid-search" id="search-box">
		 	    <i class="icon-magnifier"></i>
		    	<input type="search" placeholder="<% json.general.search %>">
	        </form>
	 	</div>
	 	<div class="col-lg-6 col-md-6 col-sm-6">
	 		<ul class="grid-navbar pull-right" id="filter">
				<li class="grid-nav-dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="selectedFilter">
						<%= json.loop.allLoops %>
						</span>
						<b class="caret"></b>
					</a>
					<ul id="filter-loops">
						<li id="filter-all"><%= json.loop.allLoops %></li>
						<li id="filter-mine"><%= json.loop.myLoops %></li>
						<li id="filter-invited"><%= json.loop.participatingLoops %></li>
						<li id="filter-archived"><%= json.loop.archivedLoops %></li>
					</ul>
				</li>

	 		</ul>
	 	</div>
</div>
