<tr>
    <td><div><%= id %></div></td>
    <td><div><%= name %></div></td>
    <td><div><%= department %></div></td>
    <td><div><%= company %></div></td>
    <td><div><%= permissions %></div></td>
</tr>