<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="tm-email-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="closeHeader" aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title"><%= json.teamwork.sendToUser %></h4>
            </div>
            <form class="cmxform form-horizontal" role="form" id="formTeammember" method="get" action="">
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="form-group">
							<label class="col-lg-2 col-sm-2 control-label" for="memberName"><%= json.email.to %>:</label>
							<div class="col-lg-10 col-sm-10">
								<input id="memberName" class="form-control staticField" type="text" disabled value="<%= name %>" name="memberName">
							</div>
						</div>							
						<div class="form-group">
							<label class="col-lg-2 col-sm-2 control-label" for="subjectTM"><%= json.email.subject %>:</label>
							<div class="col-lg-10 col-sm-10">
								<input id="subjectTM" class="form-control staticField" type="text" required value="" name="subjectTM" placeholder="<%= json.email.subjectPH %>"> 
							</div>
						</div>							
						<div class="form-group">
							<label class="col-lg-2 col-sm-2 control-label" for="messageTM"><%= json.email.message %>:</label>
							<div class="col-lg-10 col-sm-10">
								<textarea id="messageTM" class="form-control staticField" type="text" required value="" name="messageTM" style="height: 150px;" placeholder="<%= json.email.message %>"></textarea>
							</div>
						</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="sendBtn" type="submit" class="btn btn-primary"><%= json.button.send %></button>
                    <button id="closeBtn" type="button" class="btn btn-default" data-dismiss="modal"><%= json.button.close %></button>
                </div>
            </form>
         </div>
    </div>
</div>