<tr>
    <td style="display: none;">
        <div><%= id %></div>
    </td>
    <td>
        <div><%= identifier %></div>
    </td>
    <td>
        <div><%= description %></div>
    </td>
    <td>
        <div><%= type %></div>
    </td>
    <td>
        <div>
            <button class="btn btn-danger btn-xs" id="deleteAsso"
                title="" data-placement="top" data-toggle="tooltip"
                data-original-title="<%= json.button.delete %>">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </td>
</tr>
