<tr>
    <td><div><%= identifier %></div></td>
    <td><div><%= description %></div></td>
    <td><div><%= warehouse %></div></td>
    <td><div><%= center %></div></td>
    <td><div><%= inventoryBL %></div></td>
    <td><div><%= units %></div></td>
</tr>