<% if(editableRow == true){ %>

<form id="factorForm" class="cmxform form-horizontal">
	<div class="form-group">
    	<div class="col-lg-12">
    		<input id="idSkuEquivalence" value="<%= idEquiv %>" style="display:none;">
    		<input id="previousValue" value="<%= previousValue %>" style="display:none;">
    		
        	<input id="valueSkuEquivalence" type="text" class="form-control small" value="<%= valueEquiv %>" required>
        	
        	<i class="fa fa-times pull-right cancelEquiv" title="" data-placement="top" data-toggle="tooltip" data-original-title="<%= json.button.cancel %>"></i>
        	<i class="fa fa-floppy-o pull-right saveEquiv" title="" data-placement="top" data-toggle="tooltip" data-original-title="<%= json.button.save %>"></i>	        
        </div>
        <label class="error" for="valueSkuEquivalence" style="display:none">This field is required.</label>
	</div>
</form>

<% }else{ %>

<div class="fcstEquivContainer" id="<%= idEquiv %>"><%= valueEquiv %></div>
	<div class="editEquiv">
		<i class="fa fa-pencil pull-right editEquivalence" title="" data-placement="top" data-toggle="tooltip" data-original-title="<%= json.forecast.tooltips.edit %>"></i>
	</div>
</td>

<% }%>