<li>
    <div class='md-checkbox'>                   
        <input id='md-checkbox<%= id %>_<%= id_team_member %>' class='md-check season-check' type="checkbox" <%= checked %> <%= disabled %>>
        <label for="md-checkbox<%= id %>_<%= id_team_member %>">
            <span></span>
            <span class="check"></span>
            <span class="box"></span>
            <%= name %>
        </label>
    </div>
</li>