<div>
    <button id="addUsersBtn" type="button" class="btn green"><%= json.teamwork.addUsers %> <i class="fa fa-plus"></i></button>
    
    <br>
    
    <div class="adv-table" >
        <table class="table table-bordered table-striped table-condensed table-hover" id="teamworkTable" >
            <thead>
                <tr>
                    <th class="center"><%= json.teamwork.name %></th>
                    <th class="center"><%= json.teamwork.company %></th>
                    <th class="center"><%= json.teamwork.permissions %></th>
                    <th class="center"><%= json.teamwork.action %></th>
                </tr>    
            </thead>
            <tbody></tbody>
        </table>
     </div>
</div>