<div class="col-md-4">
	<section class="panel">
		<div class="pro-img-box">
			<img src="<%= href %>" alt="" /> 
			<a href="<%= hrefProfile %>" class="visit"> <i class="fa fa-star-half">Go</i> </a>
			
		</div>
		<div class="panel-body text-center panel-body-name">
			<h4>
				<a href="<%= hrefProfile %>" class="pro-title"> <%= firstName %> <%= lastName %></a>
			</h4>
		</div>
	</section>
</div>