<% if(type == "Dropbox"){ %>   
	<div class='col-lg-6 col-sm-6'>						
		<section class='panel'>
			<header class='panel-heading'><%= json.file.fromDropbox %></header>
			<div class='panel-body'>
				<div id='btnDropboxChooser'></div>
				<div id='attachDropbox-content' class='adv-table'>
					<div id='attachDropboxTable'>
						<table class='table table-bordered table-striped table-hover' id='attachDropbox'>
							<thead>
								<tr>
									<th width='0%'>ID</th>
									<th width='35%'><%= json.file.name %></th>
                                    <th width='35%'><%= json.file.description %></th>
									<th width='20%'><%= json.file.link %></th>
									<th width='10%'><%= json.file.action %></th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>								
		</section>
	</div>
<% }else{ %>
	<table class='table table-bordered table-striped table-hover' id='attachDisk'>
		<thead>
			<tr>
				<th width='0%'>ID</th>
				<th width='45%'><%= json.file.name %></th>
                <th width='45%'><%= json.file.description %></th>
				<th width='10%'><%= json.file.action %></th>
			</tr>
		</thead>
	</table>
<% } %> 
	   