<% $.each(listUsers, function(i, user){ %>
	<li> 
		<% if(userLogged == user.id){ %>
			<a class="contactcard" href="/blueloop/user/profile/">		
	    <% }else{ %>
	   		<a class="contactcard" href="/blueloop/user/profileWall/<%= user.id %>">
	    <% } %> 					
				<img src='<%= filePath %><%= user.username %>/user/profile.png' height='95' width='95' alt='<%= user.firstName %> <%= user.lastName %>' />
				<div class="contactName"> 
					<div class="name"><%= user.firstName %> <%= user.lastName %></div>
				</div>
			</a>
	</li> 
	<%  return (i < 8) %> 

<% }); %>  
					